@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* hex values taken from AIC branding guidelines */
  --aic-red: #B50938; /* Global variable */
  --aic-gray: #7E746D;
  --aic-white: #F6F6F6;
  --aic-black: #1A1A1A;
  font-family: 'Idealist Sans', sans-serif;
  font-weight: 400;
}
