.rating-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 50px;
}

.hearts-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--c-blue);
  width: 25px;
  height: 25px;
}